@font-face {
  font-family: "Font01";
  src:
    url("../fonts/Fair-Prosper.woff2") format("woff2"),
    url("../fonts/Fair-Prosper.woff") format("woff"),
    url("../fonts/Fair-Prosper.ttf") format("truetype");
}
@font-face {
  font-family: "Font02";
  src:
    url("../fonts/Griun_PolHumanrights-Rg.woff2") format("woff2"),
    url("../fonts/Griun_PolHumanrights-Rg.woff") format("woff"),
    url("../fonts/Griun_PolHumanrights-Rg.ttf") format("truetype");
}
