@use "breakpoint" as bp;

@mixin mobile {
  @media (max-width: bp.$bp-mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: bp.$bp-tablet) {
    @content;
  }
}

// 정렬 관련

@mixin detail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

@mixin flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin layout {
  width: 90%;
  margin: 0 auto;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

//색상 관련
@mixin color {
  color: red;
}

//애니메이션
@mixin effect {
  transition: all 0.2s ease-in;
}
@keyframes floating-emoji {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: var(--float-distance);
  } // CSS 변수로 거리 제어
  100% {
    margin-top: 0;
  }
}
@mixin floating($duration: 3s, $distance: 15px) {
  --float-distance: -#{$distance}; // 위로 올라가게 음수
  animation: floating-emoji $duration ease-in-out infinite;
}
